<div class="navigation-bar">
  <div class="vanguard-container">
    <a
      title="Vanguard Motor Sales"
      alt="Vanguard Motor Sales"
      class="vanguard-nav-logo"
      href="/"
    ></a>
    <div class="logo-bg"></div>
    <div class="navigation-top-row">
      <div class="top-left">
        <div class="ask-question">
          <a title="Ask A Question" class="vanguard-question" href="/contact"
            >Ask A Question</a
          >
        </div>
        <div class="mobile-phone">
          <a title="Call Us" href="">Call Us</a>
        </div>
      </div>
      <div class="top-right">
        <div class="phone-number">
          <a title="Call Us" class="vanguard-phone" href="tel:248-974-9513"
            ><span>248-974-9513</span>
          </a>
        </div>
      </div>
    </div>
    <div class="navigation-bottom-row">
      <ul class="navigation-link-bar">
        <li>
          <a href="/">Home</a>
        </li>
        <li class="dropdown current">
          <a
            class="dropdown-toggle toggle-dropdown mobile"

            href="/inventory"
            >Inventory</a
          >
          <ul class="dropdown-menu">
            <li>
              <a href="/inventory">Current</a>
            </li>
            <li>
              <a href="/inventory/new-arrival">New Arrivals</a>
            </li>
            <li>
              <a href="/inventory/sold">Sold</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/sell-us-your-car">Sell Your Car</a>
        </li>
        <li class="dropdown">
          <a
            class="dropdown-toggle toggle-dropdown mobile"

            href="#"
            >Services</a
          >
          <ul class="dropdown-menu">
            <li>
              <a href="/financing">Financing</a>
            </li>
            <li>
              <a href="/car-finder">Auto Locator</a>
            </li>
            <li>
              <a
                href="https://www.yourownbestbrand.com/Vanguard-Motor-Sales-Webstore-ccid_1381.aspx?AffiliateID=VAN04"
                >Premium Merch</a
              >
            </li>
            <li>
              <a href="https://vanguardmotorsales.myshopify.com/">Merch</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a
            class="dropdown-toggle toggle-dropdown mobile"
            
            href="#"
            >About Us</a
          >
          <ul class="dropdown-menu">
            <li>
              <a href="/about-us">Who We Are</a>
            </li>
            <li>
              <a href="/testimonials/watch-videos">Testimonials</a>
            </li>
            <li>
              <a href="/employment">Employment</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>
