    <nav class="navbar-container">
    <div class="navbar">
      <ul class="links">
        <li><a href="">Home</a></li>
      <li><a href="">Garagem</a></li>
      <li><a href="">Venda seu Muscle</a></li>
       </ul>
     <div>
       <img  class="logo" src="../../../../assets/images/MuscleMotorsLogo.png" alt="logo" >
     </div>
     <ul class="links">
      <li><a href="">Serviços</a></li>
      <li><a href="">Sobre nós</a></li>
      <li><a href="">Contato</a></li>
     </ul>
    </div>
     <div class="welcome">
      <span class="welcome-text">Bem vindo, usuário | <a onclick="logout()">LOGOUT</a></span>
    </div>
   </nav>



