<div class="footer">
  <div class="footer-container">
    <div class="footer-links">
      <div class="footer-info">
        <a
          target="_blank"
          class="footer-address-link"
          title="Localização"
          href="https://www.google.com/maps/place/São+Paulo,+SP/data=!4m2!3m1!1s0x94ce448183a461d1:0x9ba94b08ff335bae?sa=X&ved=2ahUKEwjmgYOw3fj-AhUxqZUCHVR9AQAQ8gF6BAgIEAI"
          ><span>São Paulo - SP</span> </a
        ><span class="bp"> • </span>
        <span class="footer-phone"
          ><a title="Celular" href="tel:248-974-9513"
            >Celular: (11) 97777-8888</a
          ></span
        >
        <span class="bp"> • </span>
        <span class="footer-phone"
          ><a title="Email" href="mailto:tom@vanguardmotorsales.com"
            >Email: marcus@musclemotors.com</a
          ></span
        >
        <div class="footer-social">
          <span class="bp"> • </span>
          <div class="social-links">
            <a
              target="_blank"
              class="facebook-icon"
              title="Facebook"
              href="https://www.facebook.com"
            ></a>
            <a
              target="_blank"
              class="instagram-icon"
              title="Instagram"
              href="https://www.instagram.com"
            ></a>
            <a
              target="_blank"
              class="twitter-icon"
              title="Twitter"
              href="https://twitter.com/vanguardmotors"
            ></a>
            <a
              target="_blank"
              class="youtube-icon"
              title="YouTube"
              href="https://www.youtube.com"
            ></a>
            <a
              target="_blank"
              class="linkedin-icon"
              title="LinkedIn"
              href="https://www.linkedin.com"
            ></a>
            <a
              target="_blank"
              class="pinterest-icon"
              title="Pinterest"
              href="https://www.pinterest.com"
            ></a>
            <a
              class="tiktok-icon"
              target="_blank"
              title="TikTok"
              href="https://www.tiktok.com"
            ></a>
          </div>
        </div>
        <div class="privacy-row">
          <span>
            © 2023 Carros Clássicos: Muscle &amp; Old Cars | Muscle Motors |
            Todos os direitos reservados.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
